* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.h1{
  font-family: "Clicker Script";
  color: #333;
  font-weight: bold;
}
.container {
  background-color: #f5f3f3;
}

.container nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
  color: #333;
}

.cart_beans{
  font-family: "Clicker Script";
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

.nav-card {
  display: none;
}

.container nav button {
  display: none;
}

.nav-card li {
  list-style: none;
  padding: 1rem;
  font-weight: bold;
}

.container nav i:hover > .buy-card {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  background-color: #ffff;
}

.success-message {
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid #00ff00;
  color: #008000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  display: none;
}

.container nav i:hover .nav-card {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
}

.container nav i:hover .buy-card > button {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color: #f9c06a;
  border: solid thin #e1e1e1;
  cursor: pointer;
  color: #1e1e1e;
  font-weight: bold;
  margin-top:45px;
}

.container nav i:hover .buy-card > button:hover {
  background-color: #9c6512;
  transition: all 1.3s;
}

.container nav i {
  font-size: 3rem;
  cursor: pointer;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #222;
}
.grid {
  display: grid;
  max-width: 1100px;
  justify-content: center;
  margin: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
  padding-bottom: 50px;
}

.items {
  background-color: #fff;
  border: solid thin #e1e1e1;
}

.items img {
  width: 100%;
  height: 170px;
}

.info {
  padding: 15px;
  background-color: #f5e9d6;
}

.info h3 {
  font-size: 1.6rem;
}

.info p {
  font-size: 1.5rem;
}

.precio {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

.precio p {
  font-size: 1.8rem;
}

.info h3,
.info p {
  color: #222;
  margin-bottom: 15px;
}

.precio p:first-child {
  text-decoration: line-through;
}

.info button {
  padding: 1rem;
  width: 100%;
  background-color: #f9c06a;
  color: #1e1e1e;
  font-weight: bold;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.info button:hover {
  background-color: #9c6512;
  transition: all 1.3s;
}


/*Elementos de carrito de compras */

.lista_de_cafes div {
  display: none;
  text-align: center;
  padding: 10px 0 0 0;
  border-top: solid thin gray;
}

.container nav i:hover .buy-card > .lista_de_cafes div {
  display: flex;
}

.lista_de_cafes img {
  width: 100px;
}

.lista_de_cafes p {
 
  width: 300px;
  font-size: 1.3rem;
 
}

.lista_de_cafes p:nth-child(4) {
  padding-left: 40px;
}

.lista_de_cafes p:last-child span {
  background-color: red;
  border-radius: 50%;
  padding: 5px 10px;
  color: #fff;
}
