body {
  background-color: #f9f9f9;
}

.main-container {
  background-image: url("https://i.postimg.cc/vBvDGmkL/coffee-image.jpg");
  background-size: cover;
  height: 850px;
}

.container-1 {
  width: 1366px;
  margin-inline: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container>div:nth-child(1) {
  color: #ffffff;
  font-family: "Clicker Script";
  font-size: 35px;
  margin-left: 70px;
}

.nav-container>div>ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

.nav-container>div>ul>li>a {
  text-decoration: none;
  color: #ffffff;
}

.nav-container>div:last-child>a {
  color: #ffffff;
  margin-top: 10px;
}

.nav-container>div:last-child>button {
  border-radius: 24px;
  padding: 10px;
  background-color: #f9c06a;
  font-weight: bold;
}

.coffe-container {
  color: #ffffff;
  margin-top: 70px;
  margin-left: 70px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container>h1 {
  font-family: "Clicker Script";
  font-size: 200px;
  font-weight: 5;
  margin: 0;
}

.button>button {
  border-radius: 24px;
  margin-top: 10px;
  padding: 10px;
  background-color: #f9c06a;
  font-weight: bold;
  cursor: pointer;
}



/*********************************/

.menu_icon svg{
  width: 45px;
  display: none;
}

.cart_beans{
  font-family: "Clicker Script";
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 900;
}

/**************************/

/* MODAL PARA REGISTRO */

/********************************/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: rgba(255,255,255,0.9);
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 400px;
  transition: all 0.3s ease;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #000;
}

.modal-content h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.modal-content input, button {
  margin: 10px 0;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.modal-content input {
  background-color: rgba(240,240,240,0.5);
  transition: background-color 0.3s ease;
}

.modal-content input:focus {
  background-color: rgba(220,220,220,0.7);
  outline: none;
}

.modal-content button {
  background-color: #f9c06a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #f9c06a;
}


#loginModal .modal-content {
  max-width: 350px; /* Podemos hacerlo un poco más pequeño que el de registro */
}

#loginForm input {
  margin-bottom: 15px; /* Un poco más de espacio entre los campos */
}

.error-message {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid #ff0000;
  color: #ff0000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  display: none;
}

.success-message {
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid #00ff00;
  color: #008000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
  display: none;
}

/********************************/



.sect-coffe {
  background-color: #f9f9f9;
  padding: 50px 50px;
}

.container-01 {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.div-text {
  width: 90%;
  gap: 20px;
}

.btn {
  height: 40px;
  border-radius: 10px;
  background-color: #f9c06a;
  border: none;
  color: #1e1e1e;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #f3ab3e;
}

.sub-title {
  font-size: 40px;
  color: #603809;
  font-weight: bold;
}

.parrafo {
  color: #707070;
  font-family: playfair Display;
}


/**************************/
.h2-disfruta {
  text-align: center;
  font-size: 40px;
  color: #603809;
}

.btn_3 {
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #f9c06a;
  color: #1e1e1e;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn_3 a{
  text-decoration: none;
  color: #000;
}

.btn-ordena a{
  text-decoration: none;
  color: #000;
}

.h4-sub {
  text-align: center;
  color: #707070;
}

.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 50px;
}

.capuchino {
  background-color: #f5e9d6;
  border: #f2dab6;
  height: 350px;
}

.chai-latte {
  background-color: #f5e9d6;
  border: #f9c06a;
  height: 350px;
}

.macchiato {
  background-color: #f5e9d6;
  border: #f9c06a;
  height: 350px;
}

.expreso {
  background-color: #f3d6ab;
  border: #f9c06a;
  height: 350px;
}

.comida {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: #603809;
}

.card__img {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.section-3 {
  margin-top: 90px;
}

.brown-color {
  text-align: center;
  color: #603809;
}

.ims {
  padding-top: 20px;
  display: block;
  margin: auto;
}

h4 {
  text-align: center;
  color: #707070;
}

.h4-sub {
  padding: 2px;
}

.container-2 {
  display: flex;
  justify-content: center;
  gap: 26px;
  max-width: 100%;
}

.extra {
  width: 249.67px;
}

.granos {
  background-color: #f3d6ab;
  border: #f9c06a;
}

.calid {
  background-color: #fcf1e1;
  border: #f9c06a;
}

.extra {
  background-color: #fcf1e1;
  border: #f9c06a;
}

.precio {
  background-color: #fcf1e1;
  border: #f9c06a;
}

.btn_4 {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #f9c06a;
  color: #1e1e1e;
  font-weight: bold;
  cursor: pointer;
}

/**************************************************/
.cafe {
  position: relative;
}

.BackgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 183, 128, 0.5);
}

.div-cafe {
  text-align: left;
  z-index: 1;
}

.BackgroundImage {
  background-image: url("../images/Rectangle\ 14.svg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.btn-ordena {
  height: 35px;
  background-color: #f9c06a;
  color: #060606;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 3% 8% 0;
}

.oportunidad {
  color: #fff;
  font-size: 35px;
  padding: 80px 80px 10px;
}

.vida {
  max-width: 300px;
  overflow-wrap: break-word;
  color: #fff;
  font-size: 20px;
  padding: 0 80px;
}

.img-contain {
  width: 15%;
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: #f9f9f9;
}

.perfection {
  color: #603809;
  font-size: 50px;
}

.clientes-comen {
  font-size: 24px;
  color: #707070;
  margin: 0 0 30px 0;
}

.comen-div {
  text-align: center;
  padding: 0 5px;
  margin-bottom: 10px;
  position: relative;
}

.comen-parrafo {
  background-color: #fcefdc;
  border: #f3ab3e solid 2px;
  width: 800px;
  height: 350px;
  color: #707070;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  margin: 0 20px 0 20px;
  padding: 0 40px 0 40px;
}

.btn-comen {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/**************************************************/
.cafe {
  position: relative;
}

.div-cafe h2,
.div-cafe p {
  position: relative;
  z-index: 1;
}

.btn-ordena {
  position: relative;
  z-index: 1;
}

.BackgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 183, 128, 0.5);
  z-index: 0;
}

.div-cafe {
  text-align: left;
  z-index: 1;
}

.BackgroundImage {
  background-image: url("../images/Rectangle\ 14.svg");
  background-size: cover;
  background-position: center;
  height: 500px;
}

.btn-ordena {
  height: 35px;
  background-color: #f9c06a;
  color: #060606;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 3% 8% 0;
}

.oportunidad {
  color: #fff;
  font-size: 35px;
  padding: 80px 80px 10px;
}

.vida {
  max-width: 300px;
  overflow-wrap: break-word;
  color: #fff;
  font-size: 20px;
  padding: 0 80px;
}

.img-contain {
  width: 15%;
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: #f9f9f9;
  position: relative;
}

.perfection {
  color: #603809;
  font-size: 50px;
}

.clientes-comen {
  font-size: 24px;
  color: #707070;
  margin: 0 0 30px 0;
}

.comen-div {
  text-align: center;
  padding: 0 5px;
  margin-bottom: 10px;
}

.span-comen1 {
  background-color: #f5b14c;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  left: 0%;
  top: 45%;
}

.span-comen1 i {
  font-size: 25px;
  padding: 12px;
  cursor: pointer;
}

.span-comen2 {
  background-color: #f5b14c;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  right: 0%;
  top: 45%;
  cursor: pointer;
}

.span-comen2 i {
  font-size: 25px;
  padding: 12px;
}

.comen-parrafo {
  background-color: #fcefdc;
  border: #f3ab3e solid 2px;
  width: 800px;
  height: 350px;
  color: #707070;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
  margin: 0 20px 0 20px;
  padding: 0 40px 0 40px;
}

.btn-comen {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.button>button>a{
  text-decoration:none;
}
/*ESTILOS DE FOOTER*/
.cafesin {
  color: white;
  margin: 0;
}

.fotter-title {
  color: #603809;
}

.fotter-subtitle {
  color: #636262;
}

.newsletter {
  position: relative;
  padding-block: 32px;
}

.newsletter .footer-title {
  font-size: 54px;
  margin: 0;
}

.newsletter .footer-subtitle {
  font-size: 20px;
}

.newsletter .form {
  border-radius: 8px;
  overflow: hidden;
}

.newsletter input {
  width: 250px;
  cursor: pointer;
  padding: 12px;
  border: 0;
}


.btn-footer {
  background-color: #f9c06a;
  width: 140px;
  border: none;
  cursor: pointer;

}

.cafesote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cafe-1,
.cafe-2 {
  position: absolute;
  z-index: 1;
  width: 128px;
  height: auto;
}

.cafe-1 {
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}

.cafe-2 {
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

.cafesito {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.d-flex {
  display: flex;
}

footer {
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../images/Rectangle 16.png");
}

.container-4 {
  max-width: 1024px;
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 16px;
}

.img-bg {
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.maicol h3 {
  font-size: 25px;
}

.maicol h4 {
  color: white;
}

/*ESTILOS PARA NOSOTROS*/
.main-container-nosotros {
  background-image: url("https://i.postimg.cc/vBvDGmkL/coffee-image.jpg");
  background-size: cover;
  height: auto;
}

.about-us {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.about-img {
  max-width: 30%;
  height: auto;
}

.about-parrafo {
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  font-size: 18px;
}

.container-us {
  margin-top: 50px;
}

.cocinero-container {
  border: 2px solid orange;
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-chefs {
  width: 400px;
  height: auto;
}

.logo-chef {
  width: 25px;
  height: auto;
}

.a-chefs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-chef {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-chefs {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.estrella-chef {
  width: 100px;
}

.img-chefs-2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.h2-chefs {
  margin-bottom: 30px;
  margin-top: 30px;
}

.p-cocineros>p {
  text-align: center;

}

/*contactanos*************************************************************/
.container_form {
  width: 100%;
  height: 820px;
  background-image: url("https://brewsouth.com/media/athlete2/default/header-contact-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.formulary {
  background-color: rgba(0, 0, 0, 0.6);
  width: 400px;
  height: 450px;
  padding: 15px;
  margin-left: 50%;
  border-radius: 20px;
}

.formulary .message-text {
  text-align: center;
  font-size: 20px;
  margin: 1rem;
  color: white;
}

.formulary input[type="text"],
.formulary input[type="email"],
.formulary input[type="tel"],
.formulary textarea,
.formulary input[type="text"],
.formulary input[type="hidden"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(243, 238, 238, 0.2);
  background-color: #eaf1f5;
  box-sizing: border-box;
  cursor: pointer;
  gap: 5rem;
  display: block;
  border-radius: 20px;
}

input::placeholder,
textarea::placeholder {
  color: rgb(36, 35, 35);
  font-size: 0.6rem;
}

.btn-form button {
  width: 100%;
  height: 3rem;
  padding: 10px;
  border: none;
  background-color: #3a3c3d;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  padding: 10px;
  background: #f9c06a;
  border-width: 1px;
  border: 0.8px solid rgba(65, 65, 65, 0.2);
  cursor: pointer;
  transition: 0.3s, color 0.3s;
}

.btn-form button:hover {
  background-color: rgb(28, 28, 33);
  color: #fff;
}

.contacte {
  color: #603809;
  height: 70px;
  width: 100%;
  text-align: center;
  font: 700 2rem monospace;
  margin-top: 50px;
}

.contact-servise {
  background-color: #f9f9f9;
  height: 950px;
}

.servis {
  margin-top: 3rem;
  text-align: center;
  font: 800 2rem monospace;
  color: #603809;
}

.servis-tecnico {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.servis-red {
  background-color: #dedede;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 320px;
  width: 350px;
  margin: 16px;
  text-align: center;
  transition: 0.3s, color 0.3s;
}

.servis-red:hover {
  background-color: #f6e0c0;
  color: #ffffff;
}

.servis-tecnico i,
.red-social a,
.servis-tecnico a {
  font-size: 2rem;
  text-decoration: none;
  color: #603809;
}

.servis-tecnico i {
  margin-top: 3rem;
  font-size: 45px;
  background-color: #dbe5e8;
  border-radius: 50%;
}

.servis-tecnico i:hover,
.servis-tecnico a:hover {
  color: #000;
}

/*************MAPAAAAAAAAAAAAAAAAAAAAAAAAAAA*******************************/
.map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.map a {
  text-decoration: none;
  font-size: 2rem;
  color: #603809;
}

/*GALERIA********************************************************/

.h2-galery {
  text-align: center;
  font-size: 50px;
  color: #000;
  margin: 5px;
}

.categorias {
  background: #f9f9f9;
  width: 100%;
  text-align: center;
}

.categorias h3 {
  color: white;
  font-size: 3.5rem;
  margin: 3rem;
}

.contenedor-cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartas {
  width: 20%;
  margin: 1rem 1rem;
}

.nombre {
  margin-top: 1rem;
}

.cartas img {
  height: 250px;
  object-fit: cover;
  margin-top: 10px;
  object-fit: contain;
  border-radius: 2rem;
  cursor: pointer;
}

.cartas a {
  text-decoration: none;
  font: 100 1.5rem rocoto;
  color: #603809;
  transition: color 0.5s;
}

.cartas a:hover {
  color: #603809;
}

.p-galery {
  font-size: 30px;
  color: #603809;
}

/* Media Query para pantallas de hasta 1200px */
@media (max-width: 1400px){
  .nav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}


@media (max-width: 1200px) {
  .nav-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .container-1 {
    width: 80%;
    padding: 0 20px;
  }

  .nav-container>div:nth-child(1) {
    margin-left: 20px;
  }

  .nav-container>div:last-child {
    margin-right: 20px;
  }

  .text-container{
    margin-top: 120px;
  }

  .text-container .text-container-frases{
    line-height: 10px;
  }

  .text-container>h1 {
    font-size: 150px;
  }

  .span-comen2 i {
    font-size: 25px;
    padding: 12px;
  }

  .container-chefs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }


  .formulary {
    margin-left: 250px;
    margin-bottom: 40px;
  }

}

/* Media Query para pantallas de hasta 768px */
@media (max-width: 768px) {

  .modal-content {
    width: 90%;
    margin: 10% auto;
  }

  .nav-container {
    justify-content: space-evenly;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu ul {
    flex-direction: column;
    width: 100%;
  }

  .menu ul li {
    text-align: center;
    width: 100%;
  }

  .menu_icon svg {
    position: relative;
    display: block;
  }

  .menu_options{
    position: absolute;
    left: 45px;
    top: 65px;
  }

  .menu.active {
    display: flex;
  }

  .menu_options{
    display: none;
  }

  .menu_options.active {
    display: block; /* Muestra las opciones del menú cuando tiene la clase 'active' */
    background-color: #603809ba;
    border-radius: 10px;
  }

  .menu_options ul{
    font-weight: 900;
  }

  .main-container{
    height: 540px;
  }

  .container-1 {
    width: 100%;
    padding: 0;
  }

  .navbar {
    width: 90%;
  }

  .nav-container>div:nth-child(1) {
    margin-left: 0;
    font-size: 30px;
    color: #fff;
  }

  .nav-container>div>ul {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  .nav-container>div:last-child {
    flex-direction: column;
    margin-right: 0;
    gap: 20px;
  }

  .text-container>h1 {
    font-size: 90px;
  }

  .container-01 {
    flex-direction: column;
    gap: 0;
  }

  .sect-coffe {
    padding: 0;
  }

  .div-text {
    text-align: center;
  }

  .h2-disfruta {
    margin: 0;
  }

  .container {
    flex-wrap: wrap;
    align-items: center;
  }

  .container-2 {
    display: flex;
    flex-wrap: wrap;
  }

  .precio {
    width: 249PX;
  }

  .perfection {
    font-size: 35px;
  }

  .comen-parrafo {
    width: 650px;
    margin: 0 10px 0 10px;
    padding: 0 20px 0 20px;
  }

  .btn-ordena {
    margin: 4% 11% 0;
  }

  .cafe-1,
  .cafe-2 {
    width: 100px;
  }

  .container-4 {
    max-width: 768px;
    margin-inline: auto;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(1, auto);
  }

  .maicol h4 {
    font-size: 18PX;
  }

  .text-footer {
    display: none;
  }

  /*NOSOTROS*/

  .about-us {
    display: flex;
    flex-direction: column;
  }

  .about-img {
    max-width: 30%;
    height: auto;
    margin-left: 38%;
  }

  .about-parrafo {
    width: 400px;
    margin-left: 8%;
    font-size: 16px;
  }

  .cocinero-container {
    width: 350px;
  }

  .container-chefs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /*contactanos*************************************************************/

  .container_form {
    height: 540px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

  .formulary {
    margin-left: 180px;
  }

  .contact-servise {
    background-color: #f9f9f9;
    height: auto;
  }

  .servis-tecnico {
    display: flex;
    flex-wrap: wrap;
  }

  .servis-red {
    height: 200px;
    width: 200px;
    margin: 16px;
  }


  .servis-tecnico i,
  .red-social a,
  .servis-tecnico a {
    font-size: 18px;
  }

  .servis-tecnico i {
    margin-top: 2rem;
    font-size: 40px;
  }

  .map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-bottom: 30px;
  }

  .map a {
    font-size: 1.5rem;
  }

  /*GALERIA********************************************************/
  .contenedor-cartas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  } 

  .cartas {
    flex: 1 1 30%; 
    box-sizing: border-box;
  }
}

@media (max-width: 550px) {
  .cart_beans {
    font-size: 20px;
  }

  .text-container {
    margin-top: 60px;
  }

  .text-container .text-container-frases {
    line-height: 20px;
    font-size: 15px;
  }

  .sub-title {
    font-size: 30px;
  }

  #my-container img{
    width: 250px;
  }

  .perfection {
    font-size: 20px;
  }

  .span-comen2 {
    width: 40px;
    height: 40px;
  }
  
  .span-comen1 {
    width: 40px;
    height: 40px;
  }

  .span-comen1 i {
    font-size: 20px;
  }

  .span-comen2 i {
    font-size: 20px;
  }

  .comen-div {
    text-align: center;
    margin-bottom: 10px;
  }

  .comen-parrafo {
    width: 350px;
    margin: 0 5px 0 5px;
    padding: 0 15px 0 15px;
    font-size: 15px;
  }

  .oportunidad {
    font-size: 22px;
    padding: 60px 60px 10px;
  }

  .clientes-comen {
    font-size: 16px;
  }

  /* galeria**/
  .button>button {
    height: 35px;
    font-size: 13px;
  }

  .h2-galery {
    font-size: 30px;
  }

  .cartas img {
    height: 180px;
  }
  .cartas a {
    font: 100 1rem roboto;
  }

  .p-galery {
    font-size: 20px;
  }

  .contenedor-cartas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-parrafo {
    width: 100%;
    text-align: center;
    margin-left: 0%;
    font-size: 15px;
  }

  .h2-chefs {
    font-size: 20px;
  }
  /*contactanos*/
  .contact-servise {
    height: auto;
    width: 80%;
    padding: 0 0 0 7%;
    margin-bottom: 150px;
  }

  .formulary {
    margin-left: 100px;
    height: 420px;
  }

  .contacte {
  font: 700 1.5rem monospace;
  }

  /* .servis-tecnico {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
    height: 130px;
    width: 50px;
  } */

  .servis-red {
    height: 150px;
    width: 120px;
  }

  .servis {
    font: 800 1.5rem monospace;
  }

  .redes-h3{
   display: none;
  }
  .redes-parrafo {
    display: none;
  }

  .h2-disfruta {
    font-size: 18px;
  }
  .fotter-title{
    text-align: center;
  }

}